script(type='text/x-template')#slider
  .slider
    preview(
      v-if='!loading'
      :dataSlider='dataSlider',
      :currentSlide='currentSlide',
      :currentIndex='currentIndex',
      :maxSlides='maxSlides',
      @slide='handleSlide',
      @clickMini='clickMiniHandle'
    )
    info(
      v-if='!loading'
      :currentSlide='currentSlide'
    )
    span.slider__loading(v-if='loading') Loading.....
      

script(type='text/x-template')#slider-preview
  .slider__slides(:data-current='currentIndex+1')
    .slider__preview
      img.slider__picture(:src='currentSlide.photo')
    miniatures(
      :dataSlider='dataSlider',
      :currentIndex='currentIndex',
      @clickMini='clickMiniHandle'
    )
    arrows(
      @slide='$emit("slide", $event)',
      :maxSlides='maxSlides',
      :currentIndex='currentIndex',
    )


script(type='text/x-template')#slider-miniatures
  .slider__miniatures(ref='mini-container')
    .slider__mini-list(ref='mini-list')
      button.slider__mini-item(
        v-for='(slide,ndx) in dataSlider' :key='slide.id',
        ref='mini-item',
        :data-slidenum='ndx+1',
        :class='{["slider__mini-item_active"] : ndx===currentIndex}'
        @click='$emit("clickMini", $event)'
        )        
        img.slider__mini-picture(:src='slide.photo')
        //- img.slider__mini-picture(:src='`https://webdev-api.loftschool.com/${slide.photo}`')


script(type='text/x-template')#arrows
  .slider__arrows
    div.arrows 
      - let icon = require(`images/icons/arrow-down.svg`);
      button.arrows__next(
        @click='$emit("slide", "next")',
        :class='{["arrows__next_disable"] : currentIndex===maxSlides}'
        )
        svg.arrows__icon(viewBox=icon.viewBox preserveAspectRatio='none')
          use(xlink:href=icon.url)
      button.arrows__prev(
        @click='$emit("slide", "prev")',
        :class='{["arrows__prev_disable"] : currentIndex===0}'
        )
        svg.arrows__icon(viewBox=icon.viewBox preserveAspectRatio='none')
          use(xlink:href=icon.url)   

//-info
script(type='text/x-template')#slider-decs
  .slider__decs

    tagslist(
      :tags='currentSlide.techs.match(/[a-zа-яё0-9.-]+[\s|,]*/gi)'
    )
    .slider__title {{ currentSlide.title }}
    .slider__text {{ currentSlide.description }}
    .slider__wrap-link
      a.slider__link(:href='currentSlide.link') Посмотреть сайт

//-tagslist
script(type='text/x-template')#slider-tags
  .slider__tags
    ul.slider__tags-list
      li.slider__tags-item(
        v-for='tag in tags'
      ) {{ tag.replace(/[\s|,]+/g, '').trim() }}
