mixin icon(name, className)
  - let icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio='none')
    use(xlink:href=icon.url)


mixin image(path, className)
  img(src=require(`images/${path}`) class=className)


mixin socials(items, theme)
  - let classes = ['social'] 
    if theme 
      - classes.push(`social_${theme}`)
  div(class=classes)
    ul.social__list
      each item in items
        li.social__item
          -
            let classesLink = ['social__link']
              if (item.modifier)
                - classesLink.push(classesLink + '_' + item.modifier)
             
          a(class=classesLink href=item.url)= item.text
            +icon(item.modifier, 'social__svg')


mixin menu(items, theme)
  - let classes = ['menu'] 
    if theme 
      - classes.push(`menu_${theme}`)
  nav(class=classes)
    ul.menu__list
      each item in items
        li.menu__item
          -
            let classesLink = ['menu__link']
              if (item.modifier)
                - classesLink.push(classesLink + '_' + item.modifier)
     
          a(class=classesLink href=item.href data-title=item.text)= item.text


mixin logotype(text)
  .logotype
    span.logotype__text= text


mixin main-title(desc, profession, name)
  .main-title
    .main-title__desc= desc
    .main-title__profession= profession
    .main-title__name
      h1= name


mixin table(data)
  table.table
    tbody.table__body
      each row in data
        tr.table__row
          each cell,key in row
            -let classes = ['table__cell']
            - classes.push('table__cell_'+ key)                      
            td(class=classes)= cell

mixin svg-triangles(type)

  - let classes = ["triangles"]
  - let pointsLeft = "0,0 0,120 900,120"
  - let pointsRight = "0,120 900,120 900,0"

    if (type === "inside")
      - classes.push("triangles_inside");
   
  div(class=classes)
    svg.triangles__svg(preserveAspectRatio="none" viewBox="0 0 900 120")
      polygon(fill="#fff" points=pointsLeft)
    svg.triangles__svg(preserveAspectRatio="none" viewBox="0 0 900 120")
      polygon(fill="#fff" points=pointsRight)

mixin progress(text, degree)
  .progress
    svg.progress__svg(preserveAspectRatio="none" viewBox="0 0 150 150")
      linearGradient#gradient
        stop(offset="0%" stop-color="#9300e8")
        stop(offset="100%" stop-color="#4a00ed")
      circle(cx=75 cy=75 r=65 fill="none" stroke="#e9e9e9" stroke-width="10")
      circle(cx=75 cy=75 r=65 fill="none" stroke="url(#gradient)" stroke-width="20" stroke-dasharray=`${degree} 500`)
    div.progress__text= text