mixin icon(name, className)
  - let icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio='none')
    use(xlink:href=icon.url)


mixin image(path, className)
  img(src=require(`images/${path}`) class=className)


mixin socials(items)
  div.social
    ul.social__list
      each item in items
        li.social__item
          -
            let classesLink = ['social__link']
              if (item.modifier)
                - classesLink.push(classesLink + '_' + item.modifier)
             
          a(class=classesLink href=item.url)= item.text
            +icon(item.modifier, 'social__svg')


mixin menu(items)
  nav.menu
    ul.menu__list
      each item in items
        li.menu__item
          -
            let classesLink = ['menu__link']
              if (item.modifier)
                - classesLink.push(classesLink + '_' + item.modifier)
     
          a(class=classesLink href=item.url data-title=item.text)= item.text


mixin logotype(text)
  .logotype
    span.logotype__text= text


mixin main-title(desc, profession, name)
  .main-title
    .main-title__desc= desc
    .main-title__profession= profession
    .main-title__name
      h1= name

mixin svg-triangles(type)

  - let classes = ["triangles"]
  - let pointsLeft = "0,0 0,120 900,120"
  - let pointsRight = "0,120 900,120 900,0"

    if (type === "inside")
      - classes.push("triangles_inside");
   
  div(class=classes)
    svg.triangles__svg(width="900px", height="120px", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" viewBox="0 0 900 120")
      polygon(fill="#fff" points=pointsLeft)
    svg.triangles__svg(width="900px", height="120px", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" viewBox="0 0 900 120")
      polygon(fill="#fff" points=pointsRight)